*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #28a99d;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f3;
}
.calculator{
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4px);
}
input{
    grid-column:span 4;
    height: 100px;
    text-align: end;
    width: 280px;
}
button{
    background: #f0f0f0;
    border: none;
    width: 70px;
    height: 70px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #ededed;
}